## Importing Libraries

In [2]:
import numpy as np

### creating a numpy array

In [16]:
x = np.array([1,2,3])
type(x)
print(x)
x.shape

[1 2 3]

(3,)

In [20]:
x = np.array([[1,2,3],[4,5,6],[7,8,9],[10,11,12]])
type(x)
print(x)
x.shape

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

(4, 3)

#### reshaping an array

In [27]:
2 * 6
x.reshape(2,6)

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12]])

In [28]:
6 * 2
x.reshape(6,2)

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10],
       [11, 12]])

In [29]:
3 * 4
x.reshape(3,4)

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

### generate a matrix

In [31]:
np.arange(8)

array([0, 1, 2, 3, 4, 5, 6, 7])

In [34]:
a = np.arange(8).reshape(4,2)
print(a)

[[0 1]
 [2 3]
 [4 5]
 [6 7]]

### Basic operations

In [37]:
a * 3

array([[ 0,  3],
       [ 6,  9],
       [12, 15],
       [18, 21]])

In [38]:
np.sin(a)

array([[ 0.        ,  0.84147098],
       [ 0.90929743,  0.14112001],
       [-0.7568025 , -0.95892427],
       [-0.2794155 ,  0.6569866 ]])

In [39]:
a

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7]])

In [40]:
a < 5

array([[ True,  True],
       [ True,  True],
       [ True, False],
       [False, False]])

In [41]:
a[a<5]

array([0, 1, 2, 3, 4])

### slicing operations on numpy array

In [43]:
b = np.arange(12).reshape(3,4)
print(b)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

In [46]:
b[1][2]

6

In [48]:
b[2][-1]

11

## where numpy is useful ?

In [49]:
# let us say you have a very huge dataset which has to go into a neural network

In [54]:
import pandas as pd
df = pd.DataFrame({"LotArea":[40,50,60,70],"LotSize":[78,94,32,45]})
df

   LotArea  LotSize
0       40       78
1       50       94
2       60       32
3       70       45

In [58]:
np_df = df.values
np_df

array([[40, 78],
       [50, 94],
       [60, 32],
       [70, 45]])

In [59]:
np.log(np_df)

array([[3.68887945, 4.35670883],
       [3.91202301, 4.54329478],
       [4.09434456, 3.4657359 ],
       [4.24849524, 3.80666249]])